 html {
  scroll-behavior: smooth;
}
body {
opacity:0.80;
  margin: 0;
 font-family: 'Baloo Bhai 2', cursive;
}
body #navbar {
  top: 0px;
  width: 100%;
  position: fixed;
}
body #navbar ul {
  margin: 0;
  color: #fff;
  display: flex;
  background: #009688;
  justify-content: flex-end;
}
body #navbar ul li {
  margin: 20px 20px;
  list-style-type: none;
}
body #navbar ul li a {
  all: unset;
    color:white; 
 cursor: pointer;
}
body main #welcome-section {
background:url("pic1.jpg");
height:750px;
  background-size: cover;
  background-repeat: no-repeat;
}
h1
{
margin-top:-90px;
}
body main #welcome-section .welcome-contents {
  color: white;
  margin: 0 10%;
  font-size: 1.3em;
  min-height: 70vh;
  padding-top: 30vh;
}
@media (max-width: 600px) {
  body main #welcome-section .welcome-contents {
    font-size: 1.1em;
    padding-top: 10vh;
    min-height: 90vh;
  }
}
body main #welcome-section .welcome-contents h1 {
  font-size: 3em;
}
body main #welcome-section .welcome-contents div {
  font-size: 1.5em;
}